<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17404392645-hpiuneai66sgfcoaqupeicnejd23gncc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17404392645-hpiuneai66sgfcoaqupeicnejd23gncc</string>
	<key>API_KEY</key>
	<string>AIzaSyDY_8k9oRljqZxs6nytJjmBy9CVk4FJ7NI</string>
	<key>GCM_SENDER_ID</key>
	<string>17404392645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dany.dev.uwalls</string>
	<key>PROJECT_ID</key>
	<string>uwalls-caa87</string>
	<key>STORAGE_BUCKET</key>
	<string>uwalls-caa87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17404392645:ios:bc5cdc70a5c18d7370acac</string>
</dict>
</plist>